<!-- messages -->

<div class="card">
	<div id="card_corner_cut_out"></div>
	<%= render "token/avatar", token: message.token, position: :token_card_link %>
	<div align="center">
		<% if message.image.url %>
			<%= image_tag message.image, class: :embedded_image %>
		<% end %>
		<% if message.body.present? %>
			<p>
				<% for word in decrypt_message(message).split(" ") %>
					<%= render "app/embed", word: word %>
				<% end %>
			</p>
		<% end %>
	</div>
</div>
