<!-- messages -->

<div class="card" id="new_message_form">
	<div align="center">
		<%= form_for @new_message, url: messages_path, method: :post, remote: true do |f| %>
			<%= hidden_field_tag :group_id, @group.id %>
			<table>
				<tr>
					<td>
						<%= f.text_area :body, placeholder: "Send a message..." %>
					</td>
					<td>
						<%= f.submit "Send" %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>
