<!-- notes -->

<% for note in @notes %>
  <div class="card">
    <div class="note_message">
      <% case note.action.to_sym %>
      <% when :ratified, :commented, :proposal_revised %>
        <%= link_to note.message, proposal_path(note.item_id) %>
      <% when :proposal_blocked, :revision_submitted %>
        <%= link_to note.message, proposal_path(id: note.item_id, revisions: true) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @notes.empty? %>
  <div class="card">
    <div class="note_message">
      You have zero notifications.
    </div>
  </div>
<% end %>

<% @notes.update_all seen: true %>


