<!-- comments -->

<div class="card">
	<div id="card_corner_cut_out"></div>
	<%= render "token/avatar", token: comment.token, position: :token_card_link %>
	<div align="center">
		<p><%= render "app/body", item: comment %></p>
	</div>
</div>