<!-- comments -->

<div class="card">
	<div id="card_corner_cut_out"></div>
	<%= render "token/avatar", token: comment.token, position: :token_card_link %>
	<div align="center">
		<p class="comment_body_text" id="<%= 'justified_body_text' if comment.body.size > 150 %>">
		  <%= render "app/body", item: comment %>
		</p>
	</div>
	<%= link_to("Reply#{(' ' + comment.replies.size.to_s) unless comment.replies.size.zero?}",
	  show_comment_path(comment.unique_token), class: :reply_link) unless security_token.eql? comment.token %>
</div>
