<!-- search -->

<div align="center" id="new_search_form">
	<% placeholder = (session[:query] ? "Last query: #{session[:query]}" : "Search") %>
	<%= form_tag search_path, method: :get do |f| %>
		<table id="search_form_table">
			<tr>
				<td>
					<%= text_field_tag :query, nil, placeholder: placeholder %>
				</td>
				<td>
				  <% if low_data %>
				    <%= submit_tag "Search" %>
				  <% else %>
					  <button type="submit" name="commit">
					    <i class="fa fa-search"></i>
					  </button>
				  <% end %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
