<!-- search -->

<h2 class="standard_page_header">
  Locales <%= link_to broadcast_locale_path, method: :post, class: "fa fa-globe header_icon_link",
    data: { confirm: "Are you sure you want to broadcast your locale?" },
    title: "Click here to broadcast your locale." do; end %>
</h2>

<% for locale in @locales %>
  <%= render "search/locale_card", locale: locale %>
  <% if low_data %>
    <hr>
  <% end %>
<% end %>

<% if @locales.empty? %>
  <div class="card">
    <p align="center">
      No locales have been broadcasted lately. 
      <%= link_to "Click here", broadcast_locale_path, method: :post,
        data: { confirm: "Are you sure you want to broadcast your locale?" } %> to try broadcasting your own locale.
    </p>
  </div>
<% end %>
