<!-- token -->

<% unless votes.size.zero? %>
  <div class="card" id="voter_links_card">
    <div class="voter_tokens_label">
      <strong><%= "#{label} #{votes.size}" %></strong>
    </div>
    <div class="voter_tokens_container">
      <% for vote in votes.last 6 %>
        <div class="voter_token_container">
          <%= render "token/avatar", token: vote.token %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
