<!-- groups -->

<% proposal_link_path = defined?(proposing) ? '#' : new_proposal_path(group_id: group.id) %>

<div id="nav_table_anchor"></div>
<table id="group_nav_table">
	<tr>
		<td>
			<%= link_to "Make a proposal", proposal_link_path, remote: true, id: :new_group_proposal_link %>
		</td>
		<td>·</td>
		<td>
			<%= link_to "Chat", chat_path(group.token), id: :group_chat_link %>
		</td>
	</tr>
</table>