<!-- groups -->

<% if group.views.present? %>
  <div class="views_count_icon">
    <i class="fa fa-eye"></i>
    <strong class="views_count_size">
      <%= group.views.size %>
    </strong>
  </div>
<% end %>
