<!-- groups -->

<div class="card">
  <% unless low_data %>
	  <div class="card_corner_cut_out"></div>
	  <%= render "token/avatar", token: security_token, position: :token_card_link %>
	<% end %>
  <div class="vertical_padding" align="center">
    <%= link_to "Groups with #{security_token}", search_path(query: security_token) %>
  </div>
</div>

<% if low_data %>
  <hr>
<% end %>

<% for group in @groups %>
  <%= render "groups/card", group: group %>
<% end %>


