<!-- manifestos -->

<div class="card" id="current_manifesto_card" <%= (defined?(hidden) and !hidden) ? "" : "hidden" %>>
	<%= link_to manifestos_path do %>
		<div align="center">
			<% if current_manifesto %>
				<%= current_manifesto.body.html_safe %>
			<% else %>
				There aren't any ratified manifestos yet.
			<% end %>
		</div>
	<% end %>
</div>