<!-- manifestos -->

<script>
	// manifestos fader script goes here
</script>

<div class="card" id="current_manifesto_card" <%= (defined?(hidden) and !hidden) ? "" : "hidden" %>>
	<%= link_to toggle_manifesto_path, remote: true do %>
	<div id="current_manifesto_exit">x</div>
	<div align="center">
		<p id="manifesto_welcome_text">
			Welcome to Anrcho.
		</p>
		<p id="current_manifesto_text">
			<% if current_manifesto %>
				<%= current_manifesto.body.html_safe %>
			<% else %>
				There aren't any ratified manifestos yet.
			<% end %>
		</p>
	</div>
	<% end %>
</div>


