<!-- pages -->

<div align="center" id="buffer_wheel">
	<script>
		<%= render "pages/grid_glimmer.js" %>
	</script>

	<% if all_items.present? and all_items.size > page_size %>
			<div id="avatar_container">
				<% 16.times do |num| %>
					<% rgb = random_color %>
					<div class="avatar_pixel" id="loading_grid_pixel_<%= num %>"
						style="background:rgb(<%= "#{rgb[0]}, #{rgb[1]}, #{rgb[2]}" %>);"></div>
				<% end %>
			</div>
	<% end %>

	<div id="footer_spacing"></div>
</div>
