<!-- pages -->

<script>
  <%= render "pages/toggle_scroll_to_top_link.js" %>
</script>

<%= link_to scroll_to_top_path, id: :scroll_to_top_link, remote: true do %>
  <div id="scroll_to_top_link_container">
    <i class="fa fa-arrow-up" id="scroll_to_top_link_icon"></i>
  </div>
<% end %>

