<!-- app -->
	
<%= render "app/link_menu" %>

<div id="current_token_link_anchor"></div>

<%= link_to '<i class="fa fa-terminal fa-2x"></i>'.html_safe,
	toggle_menu_path, id: :toggle_menu_link, remote: true %>

<%= render "token/avatar", token: security_token,
	position: :current_token_link, id: :current_token_link %>

<div id="spacing_header"></div>

<%= render "manifestos/current" %>
