<!-- app -->

<div id="link_menu" hidden>
	<%= link_to "Home", root_url, id: :nav_menu_link %>
	<span id="nav_menu_link">·</span>
	<%= link_to "Manifesto", toggle_manifesto_path, remote: true, id: :nav_menu_link %>
</div>
