<!-- proposals -->

<div id="action_fields">
	<% case (defined?(field) ? field : nil) %>
	<% when 'add_hashtags' %>
		<p>
			<%= f_builder.text_field :misc_data, placeholder: "Add hashtags..." %>
		</p>
	<% when 'meetup' %>
		<p>
			<%= f_builder.text_area :misc_data, placeholder: "Date and location..." %>
		</p>
	<% end %>
</div>
