<!-- proposals -->

<div id="action_fields">
	<% case (defined?(field) ? field : nil) %>
	<% when 'add_hashtags' %>
		<p>
			<%= f_builder.text_field :misc_data, placeholder: "Add hashtags..." %>
		</p>
	<% when 'postpone_expiration' %>
		<p>
			<%= f_builder.select :misc_data, options_for_select([["Number of weeks", nil], 2, 3, 4, 5]) %>
		</p>
	<% end %>
</div>