<!-- proposals -->

<% if (proposal.action.present? or proposal.revised_action.present?) and \
  not (proposal.action.eql?("revision") and proposal.revised_action.empty?) %>
	<div class="action_type_label">
		<strong>
		  <%= "Motion: #{proposal.action.eql?("revision") ? proposal.revised_action : proposal.action}" %>
		</strong>
	</div>
<% end %>
