<!-- proposals -->

<div id="index_container">
  <script>
    <%= render "proposals/infinite_scroll.js" %>
    <%= render "proposals/load_section_links_when_ready.js" %>
  </script>
  
  <div class="card">
    <div align="center">
	    <%= render "app/nav_table" %>
	    <% if @all_items.empty? %>
		    <p>There aren't any proposals yet.</p>
	    <% end %>
	    <div id="insert_form_anchor"></div>
    </div>
  </div>
  
  <% if low_data %>
    <hr>
  <% end %>

  <% unless @all_items.empty? %>
    <div id="proposal_section_links_anchor"></div>
  <% end %>
  
  <div id="feed_container_anchor"></div>
  <%= render "proposals/feed_container" %>
</div>
