<!-- proposals -->

<div class="top_right_glimmer" id="top_right_glimmer_<%= proposal.id %>" style="background:white"></div>

<div class="bottom_right_glimmer" id="bottom_right_glimmer_<%= proposal.id %>" style="background:white"></div>

<div class="bottom_left_glimmer" id="bottom_left_glimmer_<%= proposal.id %>" style="background:white"></div>
