<!-- proposals -->

<% if proposal.views.present? %>
  <div class="views_count_icon">
    <i class="fa fa-eye"></i>
    <strong class="views_count_size">
      <%= proposal.views.size %>
    </strong>
  </div>
<% end %>
