<!-- proposals -->

<!-- categoried proposals are not loading correctly
ex: switch to :voting, still loads from all other sections -->

<% if @loading %>
  <%= render "pages/load_screen" %>
  <div id="index_container_anchor"></div>
<% else %>
  <%= render "proposals/index_container" %>
<% end %>



