/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$x_right_gap: 5px;
$x_left_gap: 5px;

@mixin card($box_shadow) {
	position: relative;
	padding: 15px 7.5px;
	background: white;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 12.5px;
	width: 94.5%;
}

@mixin corner_link {
	font-size: 11px;
	position: absolute;
}

html {
	background: black;
	font-family: Helvetica;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: black;
}

textarea {
  width: 95%;
  height: 75px;
}

::-webkit-input-placeholder {
	font-size: 12.5px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: 12.5px;
}

::-webkit-scrollbar {
  display: none;
}

.card {
	@include card(white);
}

.notice_card {
	@include card(rgb(50, 175, 225));
}

.error_card {
	@include card(red);
}

.top_right_link {
	@include corner_link;
	right: $x_right_gap;
	top: 5px;
}

.top_left_link {
	@include corner_link;
	left: $x_left_gap;
	top: 10px;
}

.bottom_right_link {
	@include corner_link;
	right: $x_right_gap;
	bottom: 10px;
}

.bottom_left_link {
	@include corner_link;
	left: $x_left_gap;
	bottom: 10px;
}

#body_text_area {
  rows: 10;
}

#justified_body_text {
  text-align: justify;
}

.standard_page_header {
  color: white;
  text-align: center;
}

.standard_form_button {
  height: 35px;
  width: 55%;
  max-width: 200px;
  background: white;
}

.standard_text_field {
  width: 55%;
  max-width: 200px;
}

.discrete_title {
  color: gray;
  font-size: 11px;
  font-weight: bold;
  padding-left: 5px;
}

.vertical_padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

#spacing_header {
	padding-bottom: 32.5px;
}

#footer_spacing_container {
	padding-bottom: 50px;
}

.card_corner_cut_out {
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	height: 30px;
	width: 32px;
}

.embedded_image {
	width: 90%;
	padding: 20px 0px;
}

#last_in_line {
  font-size: 17.5px;
}
