// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group_links_table {
	margin-top: -17.5px;
}

#group_manifesto_exit {
  position: absolute;
  top: 2.5px;
  right: 5px;
}

#group_manifesto_text {
  font-size: 17.5px;
  text-align: center;
}
