// Place all the styles related to the manifestos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#manifesto_link {
	position: absolute;
	top: 12px;
	left: 10px;
	color: white;
	font-size: 13px;
}
