// Place all the styles related to the manifestos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#manifesto_link {
	position: absolute;
	top: 12px;
	left: 10px;
	color: white;
	font-size: 13px;
}

#manifesto_welcome_text {
  font-size: 20px;
}

#current_manifesto_text {
  font-size: 17.5px;
  text-align: justify;
  padding-bottom: 10px;
}

#current_manifesto_exit {
  position: absolute;
  top: 2.5px;
  right: 5px;
}
