// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note_message {
  text-align: center;
  padding: 10px 0px;
}

#notes_nav_link {
	position: absolute;
	right: 45px;
	top: 12.5px;
	color: white;
}
