// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scroll_to_top_link_icon {
  position: absolute;
  top: 12.5px;
  left: 17.5px;
}

#scroll_to_top_link_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 47.5px;
  height: 40.5px;
  background: black;
  z-index: 1;
}

#scroll_to_top_link {
  color: white;
  font-size: 20px;
  display: none;
}

.splash_screen {
  width: 100%;
  height: 500px;
  background: rgb(0, 255, 0);
}

.load_fib_bar {
  width: 100%;
}

#loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 17.25px;
  color: white;
}

#still_loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 15px
}

#vertical_load_screen {
  position: relative;
}

#standard_nav_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 15px;
	background: black;
  z-index: 5;
}

.standard_nav_menu_link {
	color: white;
	font-size: 25px;
	display: block;
	padding: 7.5px 5px;
}

#menu_link_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 47.5px;
  height: 40.5px;
  background: black;
  z-index: 1;
}

#toggle_menu_link {
	position: fixed;
	top: 7.5px;
	left: 12.5px;
	color: white;
	font-size: 13px;
	z-index: 2;
}
