// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.load_fib_bar {
  width: 100%;
}

#loading_label {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  font-size: 50px;
  color: white;
  left: 50%;
  top: 47.5%;
  margin-left: -125px;
}
