// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin section {
	text-align: center;
	float: left;
	height: 100%;
	width: 25%;
}

.top_right_glimmer {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 5.5px;
	height: 5.5px;
}

.bottom_left_glimmer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 5.5px;
	height: 5.5px;
}

.bottom_right_glimmer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 5.5px;
	height: 5.5px;
}

#proposal_body_text {
	margin: 25px 0px;
	width: 80%;
}

#proposal_image {
	width: 80%;
}

#hidden_file_field {
	width: 200px;
}

#proposal_sections {
	position: relative;
	max-width: 567.5px;
	margin: 0 auto;
	width: 98.5%;
	height: 50px;
	margin-bottom: 12.5px;
}

.section_text {
	margin: 17.5px 0px;
}

#voting_section {
	@include section;
	background: red;
}

#revision_section {
	@include section;
	background: green;
}

#ratified_section {
	@include section;
	background: blue;
}

#all_section {
	@include section;
	background: purple;
}