// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin section {
	background: black;
	text-align: center;
	float: left;
	height: 100%;
}

#add_image_icon_link {
  position: absolute;
  bottom: 5px;
  right: 13.5px;
}

.views_count_icon {
  position: absolute;
  bottom: 2.5px;
  left: 5px;
}

.views_count_size {
  font-size: 11px;
}

.old_versions_count_icon {
  position: absolute;
  bottom: 2.5px;
  left: 37.5px;
}

.top_right_glimmer {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 5.5px;
	height: 5.5px;
}

.bottom_left_glimmer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 5.5px;
	height: 5.5px;
}

.bottom_right_glimmer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 5.5px;
	height: 5.5px;
}

.proposal_body_text {
  font-size: 14px;
	margin-bottom: 15px;
	width: 85%;
}

.proposal_title_text {
  font-size: 16.5px;
}

#proposal_image {
	width: 98.5%;
	padding-top: 10px;
}

#proposal_card_spacer {
  height: 7.5px;
}

#hidden_file_field {
	width: 200px;
}

.proposal_link_table {
  padding-bottom: 5px;
}

#proposal_sections {
	position: relative;
	max-width: 567.5px;
	margin: 0 auto;
	width: 98.5%;
	height: 50px;
	margin-bottom: 12.5px;
}

.action_type_label {
  position: absolute;
  bottom: 2.5px;
  right: 5px;
  font-size: 11px;
}

.section_text {
	margin: 17.5px 0px;
}

#voting_section {
	@include section;
	width: 25%;
}

#revision_section {
	@include section;
	width: 25%;
}

#ratified_section {
	@include section;
	width: 25%;
}

#all_section {
	@include section;
	width: 25%;
}

#votes_section {
  @include section;
	width: 50%;
}

#comments_section {
  @include section;
	width: 50%;
}

