// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_form_table {
	padding-top: 11.5px;
	padding-bottom: 5px;
}

#toggle_menu_link {
	position: absolute;
	top: 12px;
	left: 10px;
	color: white;
	font-size: 13px;
}
