// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-globe {
  color: white;
  font-size: 30px;
}

#search_form_table {
	padding-top: 11.5px;
	padding-bottom: 5px;
}

#dmenu {
  position: absolute;
  width: 60%;
	overflow-x: auto;
	white-space: nowrap;
  top: 15px;
  left: 47.5px;
}

#dmenu_link {
	color: white;
	font-size: 13px;
	padding-right: 5px;
}

#standard_nav_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
	background: black;
  z-index: 5;
}

#standard_nav_menu_link {
	color: white;
	font-size: 13px;
	display: block;
	padding: 5px 5px;
}

#menu_link_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 40px;
  background: black;
  opacity: 0.75;
  z-index: 1;
}

#toggle_menu_link {
	position: fixed;
	top: 7.5px;
	left: 12.5px;
	color: white;
	font-size: 13px;
	z-index: 2;
}
