// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_form_table {
	padding-top: 11.5px;
	padding-bottom: 5px;
}

#dmenu {
  position: absolute;
  width: 60%;
	overflow-x: auto;
	white-space: nowrap;
  top: 15px;
  left: 47.5px;
}

#nav_menu_link {
	color: white;
	font-size: 13px;
	padding-right: 5px;
}

#standard_nav_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 310px;
	background: black;
  z-index: 5;
}

#standard_nav_menu_link {
	color: white;
	font-size: 13px;
	display: block;
	padding: 5px 5px;
}

#toggle_menu_link {
	position: absolute;
	top: 6.5px;
	left: 14px;
	color: white;
	font-size: 13px;
}
