// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.voted_on {
	font-size: 17.5px;
}

.verify_vote_link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.verified_label {
  position: absolute;
	font-size: 11px;
  bottom: 2.5px;
  left: 5px;
}
