<!-- votes -->

<% unless votes.size.zero? %>
  <div class="card" id="voter_links_card">
    <strong>
      <%= link_to "#{label} #{votes.size}",
        show_proposal_path(token: @proposal.unique_token, votes: true), class: :voter_tokens_label %>
    </strong>
    <div class="voter_tokens_container">
      <% for vote in votes.last 6 %>
        <div class="voter_token_container">
          <%= render "token/avatar", token: vote.token %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

