<!-- votes -->

<% unless votes.size.zero? %>
  <% path_to_proposal = show_proposal_path(token: @proposal.unique_token, votes: true) %>
  
  <div class="card" id="voter_links_card">
    <strong>
      <%= link_to "#{label}: #{votes.size}", path_to_proposal, class: :voter_tokens_label %>
    </strong>
    
    <% if label.eql? "For" %>
      <% verified_label = "Verified: #{@proposal.verified_up_votes.size}" %>
      <%= link_to "Votes to ratification: #{@proposal.votes_to_ratify}",
        path_to_proposal, class: :action_type_label %>
    <% elsif label.eql? "Against" %>
      <% verified_label = "Verified: #{@proposal.verified_down_votes.size}" %>
    <% end %>
    
    <%= link_to verified_label, path_to_proposal, class: :top_right_link %>
    
    <div class="voter_tokens_container">
      <% for vote in votes.last 6 %>
        <div class="voter_token_container">
          <%= render "token/avatar", token: vote.token %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

