<!-- votes -->

<% if @vote.proposal.present? %>
  <%= render "app/lineage", line: { group: @vote.proposal.group, proposal: @vote.proposal, vote: @vote } %>
<% end %>

<%= render "votes/card", vote: @vote %>

<% for comment in @comments %>
  <%= render "comments/card", comment: comment %>
<% end %>

<div class="card">
  <div align="center">
    <%= render "comments/new" %>
  </div>
</div>

