<!-- tips -->

<h2 class="standard_page_header">
  How the Site Works
</h2>

<div class="card">
  <h4 align="center">
    Consensus Decision-making
  </h4>
  
  <div class="tip_card_body_text">
    <p>
      Anrcho is a desicion making platform that ensures all desicions, goals, and aims are worked out through an open model of consensus where all parties involved must agree to support the proposal before it can be officially ratified.
    </p>
    
    <p>
      'Consensus may be defined professionally as an acceptable resolution, one that can be supported, even if not the "favourite" of each individual.' - <a href="https://en.wikipedia.org/wiki/Consensus_decision-making">Wiki</a>
    </p>
    
    <p>
      This careful process of discussion and deliberation is a necessity if we are to account for all those involved in the decisions that we make and ultimately how we organize.
    </p>
  </div>
</div>

<div class="card">
  <h4 align="center">
    Proposals and Voting
  </h4>
    
  <div class="tip_card_body_text">
    <p>
      All posts are proposals, each one can be voted for, showing your agreement or your support, potentially reaching ratification by majority, or voted against, effectively blocking the proposal and moving it to a section for review and revision.
    </p>
    
    <p>
      However, for any vote to count, it must first be verified by a peer who has already been verified using the captcha, so as to minimize abuse by 'trolls' or bots.
    </p>
    
    <p>
      If a proposal is blocked, it can actually be reversed if a majority vote is reached against the block, instead of requiring any further revision, keeping a check and balance between minority and majority. This same process can actually apply to votes of support as well now, enabling you to reverse the ratification of any given proposal.
    </p>
  </div>
</div>
