<!-- tips -->

<div class="card">
  <div align="center">
    <h4>
      The sites tutorial is currently in development.
    </h4>
    
    <p>
      Anrcho is a desicion making platform that ensures all desicions, goals, and aims are worked out through an open model of consensus where all parties involved must agree to support the proposal before it can be officially ratified.
    </p>
    
    <p>
      'Consensus may be defined professionally as an acceptable resolution, one that can be supported, even if not the "favourite" of each individual.' - Wiki
    </p>
    
    <p>
      Hence every post taking the form of proposal until it is ratified and becomes a resolution.
    </p>
  </div>
</div>
